@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>@User.Identity.Name</h3>
        <a asp-action="Logout" asp-controller="Login">Sair</a>
    }
    else
    {
        <h3>Não autenticado</h3>
    }
</div>
